<!DOCTYPE html>
<html lang="zh">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="target-densitydpi=640,width=640,user-scalable=no" name="viewport">
    <meta content="no" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <meta content="no" name="apple-mobile-web-app-capable">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Js/three.js"></script>
    <script src="http://j.fly-ad.cn/jquery-1.8.2.min.js"></script>
    <script src="http://j.fly-ad.cn/common-1.0.0.1/common.js"></script>
    <script src="~/Js/threeJS-common.js"></script>
    <link href="http://c.fly-ad.cn/common-1.0.0.css" rel="stylesheet" />
</head>
<body>
    <div id="renderitem"></div>
    @RenderBody()
</body>
</html>
